@use 'reset' as *;

body {
  background: #4690c2; // linear-gradient(136deg,rgba(15, 106, 70, 1) 0%, rgba(14, 75, 76, 1) 100%);
  font-family: "Inkwell Sans A", "Inkwell Sans B", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  line-height: 1;
  font-size: 3rem;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);

  #count {
    font-size: 8rem;
    display: block;
  }
}

#map {
  position: absolute;
  top: 2rem;
  bottom: 2rem;
  left: 1rem;
  right: 1rem;

  svg {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  path {
    transition: 0.2s opacity ease, 0.2s fill ease;
  }

  #Highlights path {
    opacity: 0;
  }

  #Highlights .visited {
    opacity: 1;
  }
}
