@use 'reset' as *;

$font-sentinel: "Sentinel SSm A", "Sentinel SSm B", Georgia, 'Times New Roman', Times, serif;
$font-depot: "Numbers Depot A", "Numbers Depot B", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-ringside-wide: "Ringside Wide SSm A", "Ringside Wide SSm B", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

body {
  background: #003044; // linear-gradient(136deg,rgba(15, 106, 70, 1) 0%, rgba(14, 75, 76, 1) 100%);
  font-family: $font-sentinel;
  overflow: hidden;
}

@mixin vcenter($vert: 50%) {
  position: absolute;
  top: $vert;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.slide {
  @include vcenter(60%);

  @media (orientation: landscape) {
    top: 50%;
  }

  text-align: center;
  line-height: 1;
  font-size: 1.5rem;
  @media (min-width: 400px) {
    font-size: 2rem;
  }
  color: #ccdae0;
  text-shadow: -2px 2px 0 #002433;

  .subtitle {
    font-weight: 300;
    font-family: $font-ringside-wide;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .number {
    font-size: 4rem;
    @media (min-width: 400px) {
      font-size: 8rem;
    }

    display: block;
    font-family: $font-depot;
  }
}

#map {
  position: absolute;
  inset: 0;
  overflow: hidden;

  perspective: 2000px;
  transform:
    rotateY(calc(20deg * var(--mouseX)))
    rotateX(calc(20deg * var(--mouseY)));

  svg {
    @include vcenter(40%);
    @media (orientation: landscape) {
      top: 50%;
    }

    width: 120%;
    height: 120%;
  }

  path {
    transition: 0.3s opacity ease, 0.3s fill ease;
  }

  #Highlights {
    path, polygon {
      opacity: 0;
    }
  }

  #Highlights .visited {
    opacity: 1;
  }
}

// Lifted and adapted from https://www.30secondsofcode.org/css/s/circular-progress-bar/
#progress-container {
  @include vcenter(calc(50% + 5px));
}

#progress {
  width: 300px;
  max-width: 90%;
  height: auto;
  margin: 0 auto;

  --progress: 0;
  --size: 300px;
  --half-size: calc(var(--size) / 2);
  --stroke-width: 6px;
  --radius: calc((var(--size) - var(--stroke-width)) / 2);
  --circumference: calc(var(--radius) * pi * 2);
  --dash: calc((var(--progress) * var(--circumference)) / 100);

  circle {
    cx: var(--half-size);
    cy: var(--half-size);
    r: var(--radius);
    stroke-width: var(--stroke-width);
    fill: none;
    stroke-linecap: round;
  }

  .fg {
    transform: rotate(-90deg);
    transform-origin: var(--half-size) var(--half-size);
    stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
    transition: stroke-dasharray 0.1s linear 0s;
    stroke: #ccdae0;
  }
}
